# Details see: https://www.gatsbyjs.org/docs/environment-variables/
# Find your API keys in the Dashboard: https://dashboard.stripe.com/test/apikeys
GATSBY_STRIPE_PUBLISHABLE_KEY=pk_live_H7iAX0xvwOY6SpGEqO1j6wE800Yg8mKLN4
GATSBY_BUTTON_SKU_ID=sku_GxIVhT9RNDJchl
STRIPE_SECRET_KEY=sk_live_HzWwoCj2cCjgUs4EFygFpJJr00GVoJH2nn